In [145]:
import duckdb
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [146]:
df = pd.read_csv("sample_users_with_first_posts.csv")
df

,did,handle,bio,created_at,first_post_created_at,first_post_body,is_reply,is_quote
0,did:plc:ooehugjick2vkzwlr64lephm,haleaziz.bsky.social,I cover DHS and immigration policy for the New...,2024-11-18 15:39:52.581,2024-11-16 20:04:59.812-05,If Trump-Miller-Homan want to shut down the ri...,False,False
1,did:plc:qy3kg6jvtlhenv5ojqurynwh,joshuacroke.bsky.social,Founder of üè≥Ô∏è‚Äçüåà queerforcities.com / üåàloveyour...,2024-11-15 11:45:12.223,2024-11-15 07:36:53.045-05,A they/them here for good trouble and out to m...,False,False
2,did:plc:ibqwicj6ersmvw36yldikozx,inspiringtimmy.bsky.social,Best known for watching the Queen's Gambit fro...,2024-11-06 08:11:15.881,2024-11-14 10:18:29.817-05,Foundations day 3\n\nlive now!,False,False
3,did:plc:f4ultoamz3y2m4drcjvhoecu,wilmonstouches.bsky.social,"same name but not rosh‚Äòs ex | #OMAR : ‚Äùoh, tha...",2024-11-15 17:01:25.026,2024-11-15 17:20:49.418-05,it‚Äòs cuz the nice ones switched to here and th...,True,False
4,did:plc:yzhdirwmonvaezndwnssoosd,kerrieneet.bsky.social,Wild places in the SW and beyond. Where to go?...,2024-11-20 01:32:25.972,2024-11-21 08:01:57.791-05,I would love to be added,True,False
...,...,...,...,...,...,...,...,...
23330,did:plc:67yljp3x2ggfmtouqhzm23ax,quigonejinn.bsky.social,NaN,2023-07-25 19:58:17.493,2021-08-13 10:03:56-04,"and yeah, I believe, deeply, that‚Äôs the kind o...",True,False
23331,did:plc:64vgrlkpc25gq7dzgv4wk4fz,raywillmott.bsky.social,Some Welsh Brand Manager in games @rawfury.bsk...,2023-07-23 23:19:36.113,2023-07-26 18:24:00.221-04,Made a curry tonight. One mouthful later and I...,False,False
23332,did:plc:ld6amztvyqa6dkyfpuw7agz3,madrigal.bsky.social,"I have a shiny, smooth coat and a precise, int...",2023-07-04 16:56:13.032,2023-05-04 10:50:34.133-04,Being an earthworm would be awesome. If you ge...,False,False
23333,did:plc:ifcposy3e6frphvetobi7mva,foxpopvli.bsky.social,"üî∏ Anthros, Cars and Nostalgia\nüî∏ 100% Natural ...",2023-07-19 23:27:01.452,2023-07-04 08:53:40.821-04,The fox waifu <3\n\n#art #furry,False,False
23334,did:plc:tdque7aiu4isr7w2ykaxmidz,jayhulmepoet.bsky.social,"Poet. Speaker. Educator. Performer. Adult, YA,...",2023-07-04 11:39:24.158,2023-01-30 05:09:09-05,"‚ÄúLook, I just don‚Äôt understand how Charles is ...",False,False

In [147]:
new_features_df = df[['did', 'created_at', 'is_reply', 'is_quote']]
new_features_df

,did,created_at,is_reply,is_quote
0,did:plc:ooehugjick2vkzwlr64lephm,2024-11-18 15:39:52.581,False,False
1,did:plc:qy3kg6jvtlhenv5ojqurynwh,2024-11-15 11:45:12.223,False,False
2,did:plc:ibqwicj6ersmvw36yldikozx,2024-11-06 08:11:15.881,False,False
3,did:plc:f4ultoamz3y2m4drcjvhoecu,2024-11-15 17:01:25.026,True,False
4,did:plc:yzhdirwmonvaezndwnssoosd,2024-11-20 01:32:25.972,True,False
...,...,...,...,...
23330,did:plc:67yljp3x2ggfmtouqhzm23ax,2023-07-25 19:58:17.493,True,False
23331,did:plc:64vgrlkpc25gq7dzgv4wk4fz,2023-07-23 23:19:36.113,False,False
23332,did:plc:ld6amztvyqa6dkyfpuw7agz3,2023-07-04 16:56:13.032,False,False
23333,did:plc:ifcposy3e6frphvetobi7mva,2023-07-19 23:27:01.452,False,False
23334,did:plc:tdque7aiu4isr7w2ykaxmidz,2023-07-04 11:39:24.158,False,False

In [148]:
jobs = pd.read_csv('occupations.csv')
jobs

              Occupations
0              Accountant
1      Accounts Assistant
2          Accounts Clerk
3        Accounts Manager
4          Accounts Staff
...                   ...
1150  Youth Hostel Warden
1151         Youth Worker
1152           Zoo Keeper
1153          Zoo Manager
1154            Zoologist

[1155 rows x 1 columns]

In [149]:
counts = np.zeros(jobs['Occupations'].shape[0])
job_index = 0
for job in jobs['Occupations']:
    count = 0
    for i in range(df['bio'].shape[0]):
        bio = df['bio'][i]
        if type(bio) is str and job in bio:
            count += 1
    print(count, job)
    counts[job_index] = count
    job_index += 1
jobs['count'] = counts

1 Accountant
0 Accounts Assistant
0 Accounts Clerk
0 Accounts Manager
0 Accounts Staff
0 Acoustic Engineer
101 Actor
17 Actress
1 Actuary
0 Acupuncturist
0 Adjustor
0 Administration Assistant
0 Administration Clerk
0 Administration Manager
0 Administration Staff
4 Administrator
0 Advertising Agent
0 Advertising Assistant
0 Advertising Clerk
0 Advertising Contractor
0 Advertising Executive
0 Advertising Manager
0 Advertising Staff
0 Aerial Erector
0 Aerobic Instructor
0 Aeronautical Engineer
59 Agent
0 Air Traffic Controller
0 Aircraft Designer
0 Aircraft Engineer
0 Aircraft Maintenance Engineer
0 Aircraft Surface Finisher
1 Airman
0 Airport Controller
0 Airport Manager
0 Almoner
0 Ambulance Controller
0 Ambulance Crew
0 Ambulance Driver
0 Amusement Arcade Worker
1 Anaesthetist
66 Analyst
0 Analytical Chemist
0 Animal Breeder
15 Anthropologist
0 Antique Dealer
0 Applications Engineer
0 Applications Programmer
0 Arbitrator
0 Arborist
22 Archaeologist
25 Architect
9 Archivist
1 Area Manager
0 Armourer
0 Aromatherapist
0 Art Critic
0 Art Dealer
3 Art Historian
0 Art Restorer
0 Artexer
883 Artist
73 Arts
0 Assembly Worker
0 Assessor
301 Assistant
0 Assistant Caretaker
0 Assistant Cook
0 Assistant Manager
0 Assistant Nurse
0 Assistant Teacher
2 Astrologer
20 Astronomer
0 Attendant
0 Au Pair
0 Auction Worker
0 Auctioneer
0 Audiologist
0 Audit Clerk
0 Audit Manager
1 Auditor
0 Auto Electrician
0 Auxiliary Nurse
0 Bacon Curer
0 Baggage Handler
0 Bailiff
14 Baker
0 Bakery Assistant
0 Bakery Manager
0 Bakery Operator
0 Balloonist
0 Bank Clerk
0 Bank Manager
0 Bank Messenger
0 Baptist Minister
0 Bar Manager
0 Bar Steward
1 Barber
0 Barmaid
0 Barman
6 Barrister
0 Beautician
0 Beauty Therapist
0 Betting Shop
0 Bill Poster
0 Bingo Caller
6 Biochemist
19 Biologist
0 Blacksmith
0 Blind Assembler
0 Blind Fitter
0 Blinds Installer
0 Boat Builder
0 Body Fitter
0 Bodyguard
0 Bodyshop
0 Book Binder
0 Book Seller
0 Book-Keeper
0 Booking Agent
0 Booking Clerk
0 Bookmaker
2 Botanist
1 Branch Manager
3 Breeder
11 Brewer
0 Brewery Manager
0 Brewery Worker
0 Bricklayer
13 Broadcaster
11 Builder
0 Builders Labourer
0 Building Advisor
0 Building Control
0 Building Engineer
0 Building Estimator
0 Building Foreman
0 Building Inspector
0 Building Manager
0 Building Surveyor
0 Bursar
0 Bus Company
0 Bus Conductor
1 Bus Driver
0 Bus Mechanic
0 Bus Valeter
0 Business Consultant
0 Business Proprietor
2 Butcher
0 Butchery Manager
4 Butler
0 Buyer
0 Cab Driver
0 Cabinet Maker
0 Cable Contractor
0 Cable Jointer
0 Cable TV Installer
0 Cafe Owner
0 Cafe Staff
0 Cafe Worker
0 Calibration Manager
0 Camera Repairer
0 Cameraman
0 Car Dealer
0 Car Delivery Driver
0 Car Park Attendant
0 Car Salesman
0 Car Valet
0 Car Wash Attendant
0 Care Assistant
0 Care Manager
0 Careers Advisor
0 Careers Officer
2 Caretaker
0 Cargo Operator
3 Carpenter
0 Carpet Cleaner
0 Carpet Fitter
0 Carpet Retailer
0 Carphone Fitter
3 Cartographer
38 Cartoonist
0 Cashier
0 Casual Worker
0 Caterer
0 Catering Consultant
0 Catering Manager
0 Catering Staff
0 Caulker
0 Ceiling Contractor
0 Ceiling Fixer
0 Cellarman
0 Chambermaid
0 Chandler
0 Chaplain
0 Charge Hand
0 Charity Worker
3 Chartered
0 Chartered Accountant
0 Chauffeur
43 Chef
19 Chemist
0 Chicken Chaser
0 Child Minder
0 Childminder
0 Chimney Sweep
0 China Restorer
0 Chiropodist
0 Chiropractor
0 Choreographer
0 Church Officer
0 Church Warden
0 Cinema Manager
0 Circus Proprietor
0 Circus Worker
1 Civil Engineer
1 Civil Servant
0 Claims Adjustor
0 Claims Assessor
0 Claims Manager
0 Clairvoyant
0 Classroom Aide
1 Cleaner
0 Clergyman
1 Cleric
2 Clerk
1 Commissioned
45 Consultant
0 Coroner
2 Councillor
1 Counsellor
2 Dealer
0 Decorator
0 Delivery Driver
69 Doctor
5 Driver
89 Economist
517 Editor
4 Employee
4 Employment
109 Engineer
1 English Teacher
6 Entertainer
2 Envoy
89 Executive
5 Farmer
0 Fireman
0 Floor Layer
0 Floor Manager
0 Florist
0 Flour Miller
0 Flower Arranger
0 Flying Instructor
0 Foam Convertor
0 Food Processor
1 Footballer
0 Foreman
0 Forensic Scientist
0 Forest Ranger
1 Forester
0 Fork Lift Truck Driver
0 Forwarding Agent
0 Foster Parent
0 Foundry Worker
0 Fraud Investigator
0 French Polisher
0 Fruiterer
0 Fuel Merchant
0 Fund Raiser
0 Funeral Director
0 Funeral Furnisher
0 Furnace Man
0 Furniture Dealer
0 Furniture Remover
0 Furniture Restorer
0 Furrier
0 Gallery Owner
2 Gambler
0 Gamekeeper
0 Gaming Board Inspector
0 Gaming Club Manager
0 Gaming Club Proprietor
0 Garage Attendant
0 Garage Foreman
0 Garage Manager
0 Garda
0 Garden Designer
21 Gardener
0 Gas Fitter
0 Gas Mechanic
0 Gas Technician
0 Gate Keeper
2 Genealogist
2 General Practitioner
3 Geologist
0 Geophysicist
0 Gilder
0 Glass Worker
0 Glazier
8 Goldsmith
0 Golf Caddy
0 Golf Club Professional
2 Golfer
0 Goods Handler
16 Governor
0 Granite Technician
23 Graphic Designer
0 Graphologist
0 Grave Digger
0 Gravel Merchant
0 Green Keeper
0 Greengrocer
0 Grocer
0 Groom
0 Ground Worker
0 Groundsman
0 Guest House Owner
0 Guest House Proprietor
0 Gun Smith
0 Gynaecologist
0 HGV Driver
0 HGV Mechanic
0 Hairdresser
0 Handyman
0 Hardware Dealer
0 Haulage Contractor
0 Hawker
0 Health Advisor
0 Health And Safety
0 Health Care Assistant
0 Health Consultant
1 Health Nurse
0 Health Planner
2 Health Service
0 Health Therapist
0 Health Visitor
0 Hearing Therapist
0 Heating Engineer
1 Herbalist
0 Highway Inspector
0 Hire Car Driver
252 Historian
1 History Teacher
0 Hod Carrier
0 Home Economist
0 Home Help
0 Homecare Manager
0 Homeopath
0 Homeworker
0 Hop Merchant
0 Horse Breeder
0 Horse Dealer
0 Horse Riding Instructor
0 Horse Trader
0 Horse Trainer
0 Horticultural Consultant
0 Horticulturalist
0 Hosiery Mechanic
0 Hosiery Worker
0 Hospital Consultant
0 Hospital Doctor
0 Hospital Manager
0 Hospital Orderly
0 Hospital Technician
0 Hospital Warden
0 Hospital Worker
0 Hostess
0 Hot Foil Printer
0 Hotel Consultant
0 Hotel Worker
0 Hotelier
0 Househusband
0 Housekeeper
0 Housewife
0 Housing Assistant
0 Housing Officer
0 Housing Supervisor
0 Hygienist
0 Hypnotherapist
1 Hypnotist
0 IT Consultant
0 IT Manager
0 IT Trainer
0 Ice Cream Vendor
308 Illustrator
0 Immigration Officer
0 Import Consultant
0 Importer
0 Independent Means
0 Induction Moulder
0 Industrial Chemist
0 Industrial Consultant
0 Injection Moulder
4 Inspector
10 Instructor
0 Instrument Engineer
0 Instrument Maker
0 Instrument Supervisor
0 Instrument Technician
0 Insurance Agent
0 Insurance Assessor
0 Insurance Broker
0 Insurance Consultant
0 Insurance Inspector
0 Insurance Staff
0 Interior Decorator
1 Interior Designer
0 Interpreter
1 Interviewer
3 Inventor
12 Investigator
0 Investment Advisor
0 Investment Banker
1 Investment Manager
0 Investment Strategist
0 Ironmonger
0 Janitor
0 Jazz Composer
0 Jeweller
0 Jewellery
0 Jockey
0 Joiner
0 Joinery Consultant
395 Journalist
10 Judge
0 Keep Fit Instructor
0 Kennel Hand
0 Kitchen Worker
9 Knitter
0 Labelling Operator
0 Laboratory Analyst
0 Labourer
0 Laminator
0 Lampshade Maker
0 Land Agent
0 Land Surveyor
0 Landlady
2 Landlord
0 Landowner
0 Landworker
0 Lathe Operator
0 Laundry Staff
0 Laundry Worker
0 Lavatory Attendant
0 Law Clerk
0 Lawn Mower
41 Lawyer
0 Leaflet Distributor
0 Leather Worker
117 Lecturer
0 Ledger Clerk
1 Legal Advisor
0 Legal Assistant
0 Legal Executive
0 Legal Secretary
0 Letting Agent
0 Liaison Officer
29 Librarian
0 Library Manager
0 Licensed Premises
0 Licensee
1 Licensing
0 Lifeguard
0 Lift Attendant
0 Lift Engineer
0 Lighterman
0 Lighthouse Keeper
0 Lighting Designer
0 Lighting Technician
0 Lime Kiln Attendant
0 Line Manager
0 Line Worker
0 Lineman
26 Linguist
10 Literary Agent
1 Literary Editor
0 Lithographer
0 Litigation Manager
0 Loans Manager
2 Local Government
0 Lock Keeper
0 Locksmith
0 Locum Pharmacist
0 Log Merchant
0 Lorry Driver
0 Loss Adjustor
0 Loss Assessor
0 Lumberjack
0 Machine Fitters
0 Machine Minder
0 Machine Operator
0 Machine Setter
0 Machine Tool
0 Machine Tool Fitter
1 Machinist
3 Magician
1 Magistrate
0 Magistrates Clerk
1 Maid
0 Maintenance Fitter
0 Make Up Artist
0 Manicurist
0 Manufacturing
0 Map Mounter
0 Marble Finisher
0 Marble Mason
0 Marine Broker
0 Marine Consultant
0 Marine Electrician
0 Marine Engineer
0 Marine Geologist
0 Marine Pilot
0 Marine Surveyor
0 Market Gardener
0 Market Research
0 Market Researcher
0 Market Trader
0 Marketing Agent
0 Marketing Assistant
0 Marketing Coordinator
0 Marketing Director
3 Marketing Manager
0 Marquee Erector
2 Massage Therapist
0 Masseur
1 Masseuse
0 Master Mariner
0 Materials Controller
0 Materials Manager
7 Mathematician
0 Maths Teacher
0 Matron
0 Mattress Maker
0 Meat Inspector
0 Meat Wholesaler
7 Mechanic
0 Medal Dealer
0 Medical Advisor
0 Medical Assistant
0 Medical Consultant
0 Medical Officer
0 Medical Physicist
0 Medical Practitioner
0 Medical Researcher
0 Medical Secretary
0 Medical Student
0 Medical Supplier
0 Medical Technician
0 Merchandiser
2 Merchant
0 Merchant Banker
0 Merchant Seaman
1 Messenger
0 Metal Dealer
0 Metal Engineer
0 Metal Polisher
0 Metal Worker
0 Metallurgist
22 Meteorologist
0 Meter Reader
6 Microbiologist
1 Midwife
0 Military Leader
0 Milklady
0 Milkman
0 Mill Operator
0 Mill Worker
7 Miller
0 Milliner
0 Millwright
4 Miner
0 Mineralologist
0 Minibus Driver
0 Minicab Driver
0 Mining Consultant
1 Mining Engineer
0 Money Broker
0 Moneylender
0 Mooring Contractor
0 Mortgage Broker
0 Mortician
0 Motor Dealer
0 Motor Engineer
0 Motor Fitter
0 Motor Mechanic
0 Motor Racing
0 Motor Trader
0 Museum Assistant
0 Museum Attendant
0 Music Teacher
50 Musician
0 Nanny
0 Navigator
0 Negotiator
2 Neurologist
0 Newsagent
0 Night Porter
0 Night Watchman
0 Nuclear Scientist
7 Nun
17 Nurse
0 Nursery Assistant
0 Nursery Nurse
0 Nursery Worker
0 Nurseryman
0 Nursing Assistant
0 Nursing Auxiliary
0 Nursing Manager
0 Nursing Sister
0 Nutritionist
0 Off Shore
1 Office Manager
0 Office Worker
0 Oil Broker
0 Oil Rig Crew
0 Opera Singer
12 Operations
0 Operative
4 Operator
1 Optical
0 Optical Advisor
0 Optical Assistant
0 Optician
0 Optometrist
0 Orchestral
4 Organiser
0 Organist
0 Ornamental
1 Ornithologist
1 Orthopaedic
0 Orthoptist
0 Osteopath
0 Outdoor Pursuits
0 Outreach Worker
0 Packaging
12 Packer
0 Paediatrician
0 Paint Consultant
22 Painter
0 Palaeobotanist
0 Palaeontologist
0 Pallet Maker
0 Panel Beater
1 Paramedic
0 Park Attendant
0 Park Keeper
1 Park Ranger
0 Partition Erector
0 Parts Man
0 Parts Manager
0 Parts Supervisor
1 Party Planner
0 Pasteuriser
0 Pastry Chef
0 Patent Agent
0 Patent Attorney
0 Pathologist
0 Patrolman
0 Pattern Cutter
0 Pattern Maker
0 Pattern Weaver
0 Pawnbroker
0 Payroll Assistant
0 Payroll Clerk
0 Payroll Manager
0 Payroll Supervisor
0 Personnel Officer
0 Pest Controller
0 Pet Minder
5 Pharmacist
0 Philatelist
84 Photographer
15 Physician
10 Physicist
1 Physiologist
0 Physiotherapist
0 Piano Teacher
0 Piano Tuner
0 Picture Editor
0 Picture Framer
0 Picture Reseacher
0 Pig Man
0 Pig Manager
7 Pilot
0 Pipe Fitter
0 Pipe Inspector
0 Pipe Insulator
0 Pipe Layer
0 Planning Engineer
0 Planning Manager
1 Planning Officer
0 Planning Technician
0 Plant Attendant
0 Plant Driver
0 Plant Engineer
0 Plant Fitter
0 Plant Manager
0 Plant Operator
0 Plasterer
0 Plastics Consultant
0 Plastics Engineer
0 Plate Layer
0 Plater
0 Playgroup Assistant
0 Playgroup Leader
1 Plumber
0 Podiatrist
1 Police Officer
0 Polisher
0 Pool Attendant
0 Pools Collector
3 Porter
0 Portfolio Manager
0 Post Sorter
0 Postman
0 Postmaster
0 Postwoman
5 Potter
0 Practice Manager
1 Preacher
0 Precision Engineer
0 Premises
0 Premises Security
0 Press Officer
0 Press Operator
0 Press Setter
0 Presser
8 Priest
0 Print Finisher
1 Printer
0 Prison Chaplain
0 Prison Officer
0 Private Investigator
0 Probation Officer
0 Probation Worker
0 Procurator Fiscal
0 Produce Supervisor
148 Producer
0 Product Installer
4 Product Manager
0 Production Engineer
0 Production Hand
0 Production Manager
0 Production Planner
0 Professional Boxer
0 Professional Racing
2 Professional Wrestler
0 Progress Chaser
0 Progress Clerk
0 Project Co-ordinator
1 Project Engineer
0 Project Leader
7 Project Manager
0 Project Worker
0 Projectionist
3 Promoter
0 Proof Reader
0 Property Buyer
0 Property Dealer
0 Property Developer
0 Property Manager
0 Property Valuer
1 Proprietor
6 Psychiatrist
0 Psychoanalyst
28 Psychologist
5 Psychotherapist
0 Public House Manager
0 Public Relations Of?cer
1 Publican
0 Publicity Manager
53 Publisher
0 Publishing Manager
0 Purchase Clerk
0 Purchase Ledger Clerk
0 Purchasing Assistant
0 Purchasing Manager
0 Purser
0 Quality Controller
0 Quality Engineer
0 Quality Inspector
0 Quality Manager
0 Quality Technician
0 Quantity Surveyor
0 Quarry Worker
0 Racehorse Groom
0 Racing Organiser
0 Radio Controller
0 Radio Director
0 Radio Engineer
0 Radio Operator
1 Radio Presenter
0 Radio Producer
1 Radiographer
1 Radiologist
0 Rally Driver
0 Receptionist
4 Recorder
0 Records Supervisor
0 Recovery Vehicle Coordinator
0 Recreational
0 Recruitment Consultant
0 Rector
0 Reflexologist
0 Refractory Engineer
0 Refrigeration Engineer
0 Refuse Collector
3 Registrar
4 Regulator
0 Relocation Agent
0 Remedial Therapist
0 Rent Collector
0 Rent Offcer
0 Repair Man
0 Repairer
137 Reporter
14 Representative
0 Reprographic Assistant
1 Research Analyst
0 Research Consultant
6 Research Director
19 Research Scientist
0 Research Technician
131 Researcher
0 Resin Caster
0 Restaurant Manager
0 Restaurateur
1 Restorer
95 Retired
0 Revenue Clerk
0 Revenue Officer
0 Riding Instructor
0 Rig Worker
4 Rigger
0 Riveter
0 Road Safety Officer
0 Road Sweeper
0 Road Worker
0 Roadworker
0 Roof Tiler
0 Roofer
0 Rose Grower
0 Royal Marine
0 Rug Maker
0 Saddler
0 Safety Officer
0 Sail Maker
0 Sales Administrator
0 Sales Assistant
0 Sales Director
0 Sales Engineer
0 Sales Executive
0 Sales Manager
0 Sales Representative
0 Sales Support
0 Salesman
0 Saleswoman
0 Sand Blaster
0 Saw Miller
0 Scaffolder
0 School Crossing
0 School Inspector
0 Scientific Officer
179 Scientist
0 Scrap Dealer
0 Screen Printer
0 Screen Writer
0 Script Writer
7 Sculptor
0 Seaman
2 Seamstress
24 Secretary
0 Security Consultant
0 Security Controller
0 Security Guard
0 Security Officer
3 Servant
0 Service Engineer
0 Service Manager
0 Share Dealer
0 Sheet Metal Worker
0 Shelf Filler
0 Shelter Warden
6 Shepherd
0 Sheriff
0 Sheriff Clerk
0 Sheriff Principal
0 Shift Controller
0 Ship Broker
0 Ship Builder
0 Shipping Clerk
0 Shipping Officer
0 Shipwright
0 Shipyard Worker
0 Shoe Maker
0 Shoe Repairer
0 Shooting Instructor
0 Shop Assistant
0 Shop Fitter
0 Shop Keeper
0 Shop Manager
0 Shop Proprietor
0 Shot Blaster
0 Show Jumper
0 Showman
0 Shunter
0 Sign Maker
0 Signalman
0 Signwriter
0 Site Agent
0 Site Engineer
2 Skipper
0 Slater
0 Slaughterman
0 Smallholder
4 Social Worker
0 Software Consultant
29 Software Engineer
10 Soldier
2 Solicitor
1 Song Writer
0 Sound Artist
0 Sound Engineer
0 Sound Technician
0 Special Constable
0 Special Needs
0 Speech Therapist
0 Sports Administrator
0 Sports Coach
0 Sports Commentator
0 Sportsman
0 Sportsperson
0 Sportswoman
0 Spring Maker
0 Stable Hand
0 Staff Nurse
0 Stage Director
0 Stage Hand
0 Stage Manager
0 Stage Mover
0 Station Manager
1 Stationer
2 Statistician
0 Steel Erector
0 Steel Worker
0 Steeplejack
0 Stenographer
8 Steward
0 Stewardess
0 Stock Controller
0 Stock Manager
0 Stockbroker
0 Stockman
0 Stocktaker
0 Stone Cutter
0 Stone Sawyer
0 Stonemason
0 Store Detective
0 Storeman
0 Storewoman
0 Street Entertainer
0 Street Trader
0 Stud Hand
41 Student
0 Student Nurse
0 Student Teacher
0 Studio Manager
0 Sub-Postmaster
0 Sub-Postmistress
3 Supervisor
0 Supply Teacher
5 Surgeon
1 Surveyor
1 Systems Analyst
1 Systems Engineer
0 Systems Manager
3 TV Editor
0 Tachograph Analyst
0 Tacker
1 Tailor
0 Tank Farm Operative
0 Tanker Driver
0 Tanner
1 Tattooist
0 Tax Advisor
0 Tax Analyst
0 Tax Assistant
0 Tax Consultant
0 Tax Inspector
0 Tax Manager
0 Tax Officer
0 Taxi Controller
0 Taxi Driver
0 Taxidermist
0 Tea Blender
0 Tea Taster
69 Teacher
0 Teachers Assistant
1 Technical Advisor
1 Technical Analyst
0 Technical Assistant
0 Technical Author
0 Technical Clerk
0 Technical Co-ordinator
1 Technical Director
0 Technical Editor
0 Technical Engineer
0 Technical Illustrator
0 Technical Instructor
0 Technical Liaison
0 Technical Manager
3 Technician
0 Telecommunication
0 Telecommunications
0 Telegraphist
0 Telemarketeer
0 Telephone Engineer
0 Telephonist
0 Telesales Person
0 Television Director
0 Television Engineer
0 Television Presenter
0 Television Producer
0 Telex Operator
0 Temperature Time
0 Tennis Coach
0 Textile Consultant
0 Textile Engineer
0 Textile Technician
0 Textile Worker
0 Thatcher
0 Theatre Manager
0 Theatre Technician
0 Theatrical Agent
9 Therapist
0 Thermal Engineer
0 Thermal Insulator
0 Ticket Agent
0 Ticket Inspector
0 Tiler
0 Timber Inspector
0 Timber Worker
0 Tobacconist
0 Toll Collector
0 Tool Maker
0 Tour Agent
1 Tour Guide
0 Town Clerk
0 Town Planner
0 Toy Maker
0 Toy Trader
0 Track Worker
0 Tractor Driver
0 Tractor Mechanic
0 Trade Mark Agent
0 Trade Union Official
0 Trading Standards
0 Traffic Warden
0 Train Driver
0 Trainee Manager
0 Training Advisor
0 Training Assistant
0 Training Co-ordinator
0 Training Consultant
0 Training Instructor
0 Training Manager
0 Training Officer
0 Transcriber
18 Translator
0 Transport Clerk
0 Transport Consultant
0 Transport Controller
0 Transport Engineer
0 Transport Manager
0 Transport Officer
0 Transport Planner
0 Travel Agent
0 Travel Clerk
0 Travel Consultant
0 Travel Courier
0 Travel Guide
0 Travel Guide Writer
0 Travel Representative
0 Travelling Showman
7 Treasurer
0 Tree Feller
0 Tree Surgeon
0 Trichologist
0 Trinity House Pilot
0 Trout Farmer
0 Tug Skipper
0 Tunneller
0 Turf Accountant
0 Turkey Farmer
3 Turner
9 Tutor
0 Typesetter
0 Typewriter Engineer
1 Typist
0 Tyre Builder
0 Tyre Fitter
0 Tyre Inspector
0 Tyre Technician
1 Undertaker
0 Underwriter
0 Upholsterer
0 Valuer
0 Valve Technician
0 Van Driver
0 Vehicle Assessor
0 Vehicle Body Worker
0 Vehicle Engineer
0 Vehicle Technician
0 Ventriloquist
1 Verger
0 Veterinary Surgeon
2 Vicar
1 Video Artist
0 Violin Maker
0 Violinist
0 Voluntary Worker
0 Wages Clerk
0 Waiter
0 Waitress
1 Warden
0 Warehouse Manager
0 Warehouseman
0 Warehousewoman
0 Watchmaker
2 Weaver
0 Weighbridge Clerk
0 Weighbridge Operator
1 Welder
0 Welfare Assistant
0 Welfare Officer
0 Welfare Rights Officer
0 Wheel Clamper
0 Wholesale Newspaper
0 Window Cleaner
0 Window Dresser
0 Windscreen Fitter
0 Wine Merchant
0 Wood Carver
0 Wood Cutter
0 Wood Worker
0 Word Processing Operator
0 Works Manager
582 Writer
0 Yacht Master
0 Yard Manager
0 Youth Hostel Warden
0 Youth Worker
0 Zoo Keeper
0 Zoo Manager
2 Zoologist

In [150]:
jobs = jobs.loc[jobs['count'] > 0]

cutoff = 5
jobs['is_common'] = jobs['count'] > cutoff

jobs['feature_name'] = np.vectorize(str.replace)('is_'+jobs['Occupations'], ' ', '_')

jobs

/var/folders/1f/m2_9y_b17tsfg0cq6sk57v000000gn/T/ipykernel_62240/2891583624.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs['is_common'] = jobs['count'] > cutoff
/var/folders/1f/m2_9y_b17tsfg0cq6sk57v000000gn/T/ipykernel_62240/2891583624.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs['feature_name'] = np.vectorize(str.replace)('is_'+jobs['Occupations'], ' ', '_')

        Occupations  count  is_common      feature_name
0        Accountant    1.0      False     is_Accountant
6             Actor  101.0       True          is_Actor
7           Actress   17.0       True        is_Actress
8           Actuary    1.0      False        is_Actuary
15    Administrator    4.0      False  is_Administrator
...             ...    ...        ...               ...
1124         Warden    1.0      False         is_Warden
1129         Weaver    2.0      False         is_Weaver
1132         Welder    1.0      False         is_Welder
1147         Writer  582.0       True         is_Writer
1154      Zoologist    2.0      False      is_Zoologist

[221 rows x 4 columns]

In [151]:
job_feature_names = np.append(jobs.loc[jobs['is_common']]['feature_name'], ['is_Other', 'is_None'])
new_features_df[job_feature_names] = 0
new_features_df

/var/folders/1f/m2_9y_b17tsfg0cq6sk57v000000gn/T/ipykernel_62240/2669877003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_features_df[job_feature_names] = 0
/var/folders/1f/m2_9y_b17tsfg0cq6sk57v000000gn/T/ipykernel_62240/2669877003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_features_df[job_feature_names] = 0
/var/folders/1f/m2_9y_b17tsfg0cq6sk57v000000gn/T/ipykernel_62240/2669877003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_features_df[job_feature_names] = 0

,did,created_at,is_reply,is_quote,is_Actor,is_Actress,is_Agent,is_Analyst,is_Anthropologist,is_Archaeologist,...,is_Steward,is_Student,is_Teacher,is_Therapist,is_Translator,is_Treasurer,is_Tutor,is_Writer,is_Other,is_None
0,did:plc:ooehugjick2vkzwlr64lephm,2024-11-18 15:39:52.581,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,did:plc:qy3kg6jvtlhenv5ojqurynwh,2024-11-15 11:45:12.223,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,did:plc:ibqwicj6ersmvw36yldikozx,2024-11-06 08:11:15.881,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,did:plc:f4ultoamz3y2m4drcjvhoecu,2024-11-15 17:01:25.026,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,did:plc:yzhdirwmonvaezndwnssoosd,2024-11-20 01:32:25.972,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23330,did:plc:67yljp3x2ggfmtouqhzm23ax,2023-07-25 19:58:17.493,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23331,did:plc:64vgrlkpc25gq7dzgv4wk4fz,2023-07-23 23:19:36.113,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23332,did:plc:ld6amztvyqa6dkyfpuw7agz3,2023-07-04 16:56:13.032,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23333,did:plc:ifcposy3e6frphvetobi7mva,2023-07-19 23:27:01.452,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23334,did:plc:tdque7aiu4isr7w2ykaxmidz,2023-07-04 11:39:24.158,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
for user_index, user_row in df.iterrows():
    bio = user_row['bio']
    found_any_job = False
    found_rare_job = False
    if type(bio) is str:
        for job_index, job_row in jobs.iterrows():
            if job_row['Occupations'] in bio:
                found_any_job = True
                if job_row['is_common']:
                    new_features_df.loc[user_index, job_row['feature_name']] = 1
                else:
                    new_features_df.loc[user_index, 'is_Other'] = 1
    if not found_any_job:
        new_features_df.loc[user_index, 'is_None'] = 1
new_features_df

,did,created_at,is_reply,is_quote,is_Actor,is_Actress,is_Agent,is_Analyst,is_Anthropologist,is_Archaeologist,...,is_Steward,is_Student,is_Teacher,is_Therapist,is_Translator,is_Treasurer,is_Tutor,is_Writer,is_Other,is_None
0,did:plc:ooehugjick2vkzwlr64lephm,2024-11-18 15:39:52.581,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,did:plc:qy3kg6jvtlhenv5ojqurynwh,2024-11-15 11:45:12.223,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,did:plc:ibqwicj6ersmvw36yldikozx,2024-11-06 08:11:15.881,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,did:plc:f4ultoamz3y2m4drcjvhoecu,2024-11-15 17:01:25.026,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,did:plc:yzhdirwmonvaezndwnssoosd,2024-11-20 01:32:25.972,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23330,did:plc:67yljp3x2ggfmtouqhzm23ax,2023-07-25 19:58:17.493,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23331,did:plc:64vgrlkpc25gq7dzgv4wk4fz,2023-07-23 23:19:36.113,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23332,did:plc:ld6amztvyqa6dkyfpuw7agz3,2023-07-04 16:56:13.032,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23333,did:plc:ifcposy3e6frphvetobi7mva,2023-07-19 23:27:01.452,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23334,did:plc:tdque7aiu4isr7w2ykaxmidz,2023-07-04 11:39:24.158,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [153]:
open_reg_date = datetime.datetime.fromisocalendar(2024, 6, 2)
new_features_df['before_open'] = (np.vectorize(datetime.datetime.fromisoformat)(df['created_at']) - open_reg_date) < datetime.timedelta(0)

In [154]:
new_features_df['default_domain'] = np.vectorize(str.endswith)(df['handle'], '.bsky.social')

In [155]:
new_features_df = new_features_df.rename(columns={"is_reply": "first_is_reply", "is_quote": "first_is_quote"})
new_features_df

,did,created_at,first_is_reply,first_is_quote,is_Actor,is_Actress,is_Agent,is_Analyst,is_Anthropologist,is_Archaeologist,...,is_Teacher,is_Therapist,is_Translator,is_Treasurer,is_Tutor,is_Writer,is_Other,is_None,before_open,default_domain
0,did:plc:ooehugjick2vkzwlr64lephm,2024-11-18 15:39:52.581,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,False,True
1,did:plc:qy3kg6jvtlhenv5ojqurynwh,2024-11-15 11:45:12.223,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,False,True
2,did:plc:ibqwicj6ersmvw36yldikozx,2024-11-06 08:11:15.881,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,False,True
3,did:plc:f4ultoamz3y2m4drcjvhoecu,2024-11-15 17:01:25.026,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,False,True
4,did:plc:yzhdirwmonvaezndwnssoosd,2024-11-20 01:32:25.972,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23330,did:plc:67yljp3x2ggfmtouqhzm23ax,2023-07-25 19:58:17.493,True,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,True,True
23331,did:plc:64vgrlkpc25gq7dzgv4wk4fz,2023-07-23 23:19:36.113,False,False,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,True,True
23332,did:plc:ld6amztvyqa6dkyfpuw7agz3,2023-07-04 16:56:13.032,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,True,True
23333,did:plc:ifcposy3e6frphvetobi7mva,2023-07-19 23:27:01.452,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,True,True
23334,did:plc:tdque7aiu4isr7w2ykaxmidz,2023-07-04 11:39:24.158,False,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,True,True

In [157]:
new_features_df.to_csv('nb_features.csv', index=False)